<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  <body>
    <div id=wrapper>
      <div class="main">
        <div class="header">
          <h1><strong>{{community}}</strong></h1>
          <h2 class="{{failed}}">{{{message}}}</h2>
        </div>
      </div>
    </div>
  </body>
</html>
